/* This file is for your main application css. */
@import "./phoenix.css";

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html {
    position: fixed;
    height: 100%;
    overflow: hidden;
}

/* Alerts and form errors */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert p {
    margin-bottom: 0;
}
.alert:empty {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-image-container {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image-container img {
    width: auto;
    height: 100%;
}

.margin-container {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: 0.25em;
}
.separator::after {
    margin-left: 0.25em;
}

.centered {
    text-align: center;
}

.player {
    display: flex;
    align-items: center;
    padding: 5px;
}

.player p {
    margin-left: 20px;
}

/* Sign in */

$innerWaveColor: #cbcbcb; //#242424;
$outterWaveColor: #ececec; //#373946;
$linkColor: blue;

.party-background {
    background: #fff; //linear-gradient(#6039ff, #20a7ff);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    border: 2px solid #000;
    border-radius: 6px;

    box-shadow: 10px 10px;
    padding: 20px;
    background-color: #ccc;
}

.login-container a {
    color: $linkColor;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 1px 1px #43ff61;
}

.waves {
    --wavefill1: #{$innerWaveColor};
    --wavefill2: #{$outterWaveColor};

    position: absolute;
    width: 102%;

    &.w1 {
        &.top {
            top: 50px;

            @media (min-width: 760px) {
                top: -40px;
            }
        }

        &.bottom {
            bottom: 50px;

            @media (min-width: 760px) {
                bottom: -60px;
            }
        }
    }

    &.w2 {
        &.top {
            top: 110px;

            @media (min-width: 760px) {
                top: 0;
            }
        }

        &.bottom {
            bottom: 160px;

            @media (min-width: 760px) {
                bottom: 0;
            }
        }
    }
}

.filler {
    position: absolute;
    width: 100%;

    &.f1 {
        background: $innerWaveColor;
        height: 51px;

        @media (min-width: 760px) {
            display: none;
        }

        &.bottom {
            bottom: 0;
        }

        &.top {
            top: 0;
        }
    }

    &.f2 {
        background: $outterWaveColor;
        height: 111px;

        @media (min-width: 760px) {
            display: none;
        }

        &.bottom {
            bottom: 60px;
        }

        &.top {
            top: 0;
        }
    }
}

/* Home page */

.join-container {
    margin-bottom: 100px;
    margin-left: 3rem;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .error-message {
        animation: fadeIn 0.5s forwards;
        color: #be1e1e;
        opacity: 0;
    }

    input {
        padding: 15px;
        max-width: 220px;
        font-size: 2rem;

        border: 1px solid #999;
        border-radius: 3px;
    }

    button {
        min-height: 56px;
        margin-left: 10px;
        background-color: royalblue;
        color: #fff;
        font-size: 2rem;

        min-width: 90px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid royalblue;
        border-radius: 3px;
    }
}
