.game-board {
    .category {
        background: #0a1487;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 15px;
    }

    .category a {
        color: #fff;
        text-decoration: none;
    }

    .question {
    }
}
