.viewport {
    width: 100vw;
    height: 200px;
    background: #f2f2f2;
    position: relative;
}

.viewport .swiper-items {
    display: flex;
    height: 100%;

    overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.viewport .swiper-items.horizontal {
    flex-direction: row;

    overflow-x: scroll;
    touch-action: pan-x;
    scroll-snap-type: x mandatory;
}

.viewport .swiper-items.vertical {
    flex-direction: column;

    overflow-y: scroll;
    touch-action: pan-y;
    scroll-snap-type: y mandatory;
}

.viewport .swiper-items .item {
    display: flex;
    flex-shrink: 0;
    justify-content: center;

    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.viewport .swiper-items.horizontal .item {
    height: 80%;
    width: 100%;
    margin-top: 10px;
}

.viewport .swiper-items.vertical .item {
    height: 100%;
    width: 100%;
}

.viewport .swiper-items .item .item-inner {
    margin: 10px;
    width: 80%;
    height: 100%;

    border-radius: 4px;
    background: #0a1487;
    text-shadow: 1px 1px #000;

    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.viewport .swiper-items.horizontal .item .item-inner {
    width: 80%;
    height: 100%;
}

.viewport .swiper-items.vertical .item .item-inner {
    width: 80%;
    height: 87%;
}

.viewport .item-inner.category {
    color: #fff;
}

.viewport .item-inner.question {
    color: goldenrod;
}

.viewport .swiper-indicators {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
}

.viewport .swiper-indicators.horizontal {
    margin-top: -20px;
}

.viewport .swiper-indicators.vertical {
    flex-direction: column;
    position: absolute;
    margin-left: 10px;
    top: 0;
    bottom: 0;
    max-height: 100%;
}

.viewport .swiper-indicators .swiper-indicator {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa;
}

.viewport .swiper-indicators.horizontal .swiper-indicator:not(:last-child) {
    margin-right: 16px;
}

.viewport .swiper-indicators.vertical .swiper-indicator:not(:last-child) {
    margin-bottom: 16px;
}

.viewport .swiper-indicators .swiper-indicator.active {
    background-color: #0a1487;
}
