.tabs {
    overflow: hidden;
    display: flex;
}

.tabs .tablink {
    flex: 0 100%;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border-bottom: 3px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.tabs .tablink:hover {
    border-bottom: 3px solid #bfc0d4;
}

.tabs .tablink.active-tab {
    background-color: #fff;
    border-bottom: 3px solid #0a1487;
}
