body {
    font-family: sans-serif;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.wave-backdrop {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cccccc' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

@keyframes slideIn {
    from {
        transform: translateX(130%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-150%);
    }

    to {
        transform: translateX(0);
    }
}

.slide-down-first {
    transform: translateY(-150%);
    animation: slideDown 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.slide-down-second {
    transform: translateY(-150%);
    animation: slideDown 0.7s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

.slide-in-first {
    transform: translateX(130%);
    animation: slideIn 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
.slide-in-second {
    transform: translateX(130%);
    animation: slideIn 0.7s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.viewport {
    background: rgba(156, 156, 156, 0.548);
    height: 200px;

    .swiper-indicators {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: -15px;

        display: flex;
        justify-content: center;

        .swiper-indicator {
            position: relative;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 2px solid #6c6c6c;
            background-color: #868686;

            &:not(:last-child) {
                margin-right: 16px;
            }

            &.active {
                background-color: #fff;
                border: 2px solid royalblue;
                box-shadow: 2px 2px 5px #fff;
            }
        }
    }

    .swiper-items {
        display: flex;

        height: 100%;

        overflow-x: scroll;
        overscroll-behavior: contain;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        touch-action: pan-x;
        scroll-snap-type: x mandatory;

        .item {
            display: flex;
            flex-shrink: 0;
            justify-content: center;

            height: 80%;
            width: 100%;
            margin-top: 20px;

            scroll-snap-align: center;
            scroll-snap-stop: always;

            .item-inner {
                position: relative;

                display: flex;
                flex-shrink: 0;
                justify-content: center;
                align-self: center;
                align-items: center;
                text-align: center;

                margin: 10px;
                padding: 10px;
                width: 80%;
                max-width: 350px;
                height: 100%;

                background: #fff;
                border-radius: 6px;
                border: 2px solid #000;
            }
        }
    }
}

.categories {
    height: 200px;

    display: flex;
    overflow-x: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    scroll-snap-type: x mandatory;
    background: rgba(156, 156, 156, 0.548);

    .item {
        font-size: 1.7rem;
        font-weight: bold;

        background: #fff;
        width: 200px;
        margin: 10px;
        border-radius: 6px;
        border: 2px solid #000;

        flex-shrink: 0;

        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}

.title {
    text-align: center;
}

.questions {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    button {
        border: 2px solid royalblue;
        border-radius: 3px;
        margin-left: 5px;

        background-color: royalblue;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
    }

    button:disabled,
    button[disabled] {
        background: rgb(202, 202, 202);
        border: 2px solid rgb(202, 202, 202);
        color: gray;
    }
    .item {
        padding: 10px;
        margin: 10px;
        width: 70px;
        text-align: center;
    }
}

.question-area {
    width: 100%;

    .game-event-message {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        background-color: #fff;
        box-shadow: 10px 10px;

        width: 85%;
        max-width: 600px;
        margin: 0 auto;
        margin-top: -22px;

        .game-event-header {
            padding: 18px;
            padding-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .countdown {
                background: #623ec5;
                color: #fff;
                text-shadow: 1px 1px #ff45c8;

                margin-top: 10px;
                width: 30px;
                height: 30px;

                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 12px;
            }

            .bounce {
                animation: bounce 1s 0s;
            }

            @keyframes bounce {
                0% {
                    transform: scale(0.3);
                }
                50% {
                    transform: scale(1.05);
                }
                70% {
                    transform: scale(0.9);
                }
                100% {
                    transform: scale(1);
                }
            }
        }

        .game-event-body {
            text-align: left;
            padding: 12px;

            button {
                border: 2px solid royalblue;
                border-radius: 3px;
                margin-left: 5px;

                background-color: royalblue;
                color: #fff;
                font-size: 1.5rem;
                font-weight: bold;
            }

            button:disabled,
            button[disabled] {
                background: rgb(202, 202, 202);
                border: 2px solid rgb(202, 202, 202);
                color: gray;
            }

            input {
                transition: background-color 0.5s ease, border-color 0.5s ease;
                font-size: 1.5rem;
                padding: 10px;
                width: 100%;
                border-radius: 3px;
            }
        }
    }

    .unanswered {
        border: 1px solid #000;
    }

    .pending-answer {
        border: 1px solid #f7c633;
        background-color: #ffedb691;
    }

    .incorrect-answer {
        border: 1px solid #db2828;
        background-color: #ff66669e;
    }

    .correct-answer {
        border: 1px solid #2f8a2f;
        background-color: #4ecc4e96;
    }

    .question {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        line-height: 25px;

        border: 2px solid #000;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 10px 10px;

        width: 85%;
        max-width: 600px;
        height: 200px;
        margin: 0 auto;
        padding: 30px;

        &.adjust {
            box-shadow: 10px 0;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .header {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        padding: 15px;

        width: 85%;
        max-width: 600px;
        margin: 0 auto;
    }

    .buzzer-area {
        text-align: center;
        margin-top: 20px;

        .buzzer:disabled {
            background: rgb(202, 202, 202);
            border: 2px solid rgb(202, 202, 202);
            color: gray;
        }

        .buzzer {
            color: #fff;
            background: royalblue;
            border: 2px solid royalblue;
            border-radius: 3px;
            padding: 10px;
            width: 200px;

            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: #0e0e0ec7;
    overflow-y: scroll;

    .score-board {
        color: #fff;
        table {
            width: 100%;
            border-collapse: collapse;
            tr {
                border-top: 1px solid #ffffff70;
                td {
                    padding: 5px;
                }
            }
        }
    }
}

.player-picture {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;

    img {
        width: auto;
        height: 100%;
    }

    div {
        width: auto;
        height: 100%;
        background: rgb(231, 231, 231);
    }
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
}

.tabs {
    overflow: hidden;
    display: flex;

    .tablink {
        color: rgb(204, 204, 204);
        flex: 0 100%;
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        text-transform: uppercase;
        font-weight: bold;

        &.active-tab {
            cursor: default;
            color: rgb(0, 0, 0);
        }
    }
}

/* lobby */

.lobby-players {
    overflow-y: scroll;
    height: 100%;

    .lobby-player {
        display: flex;
        align-items: center;
        padding: 5px;
        background: #fff;
        margin: 20px;
        border-radius: 6px;

        border: 1px solid rgb(231, 231, 231);

        animation-name: animateIn;
        animation-duration: 200ms;
        animation-delay: calc(2s + var(--animation-order) * 50ms);
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;

        &.empty {
            border: 1px dashed rgb(231, 231, 231);
            background: rgba(231, 231, 231, 0.301);
            color: rgb(190, 190, 190);
        }

        .item {
            margin-left: 10px;
        }
    }
}

.block-effect {
    font-size: calc(8px + 6vw);
    text-align: center;
}

.block-reveal {
    --t: calc(var(--td) + var(--d));

    color: transparent;
    padding: 4px;

    position: relative;
    overflow: hidden;

    animation: revealBlock 0s var(--t) forwards;

    &::after {
        content: "";

        width: 0%;
        height: 100%;
        padding-bottom: 4px;

        position: absolute;
        top: 0;
        left: 0;

        background: var(--bc);
        animation: revealingIn var(--td) var(--d) forwards,
            revealingOut var(--td) var(--t) forwards;
    }
}

@keyframes revealBlock {
    100% {
        color: #0f0f0f;
    }
}

@keyframes revealingIn {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes revealingOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}

/* Game over */

.player-picture.winner {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.game-over {
    &.centered {
        text-align: center;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shrink {
    0% {
        transform: scale(2) translateY(40px);
    }
    100% {
        transform: unset;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shrink-down {
    transform: scale(2) translateY(40px);
    animation: shrink 0.3s linear forwards;
    animation-delay: 3s;
}

.slide-in-from-left {
    transform: translateX(-100%);
    animation: slideLeft 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) both;
    animation-delay: 3.3s;
}

.slide-in-from-right {
    transform: translateX(100%);
    animation: slideRight 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) both;
    animation-delay: 3.3s;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s linear forwards;
    animation-delay: 3.7s;
}

.control-notification {
    text-align: center;
    position: fixed;
    top: -60px;
    width: 100%;
    background: #fff;
    height: 50px;
    padding-top: 10px;
    border-bottom: 2px solid #000;
    transition: top 0.3s;

    &.reveal {
        top: 0;
        transition: top 0.3s;
    }
}
