body {
    font-family: sans-serif;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.wave-backdrop {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235ca2f7' fill-opacity='0.14'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@keyframes glowing {
    0% {
        box-shadow: inset 0 0 -10px #7db8ff;
    }
    50% {
        box-shadow: inset 0 0 20px #7db8ff;
    }
    100% {
        box-shadow: inset 0 0 -10px #7db8ff;
    }
}

.glow {
    animation: glowing 1500ms infinite;
}

.categories {
    height: 200px;

    display: flex;
    overflow-x: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    scroll-snap-type: x mandatory;
    background: rgba(156, 156, 156, 0.548);

    .item {
        font-size: 1.7rem;
        font-weight: bold;

        background: #fff;
        width: 200px;
        margin: 10px;
        border-radius: 6px;
        border: 2px solid #000;

        flex-shrink: 0;

        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}

.title {
    text-align: center;
}

.questions {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    .item {
        font-size: 1.7rem;
        color: #000;
        background: #fff;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
        width: 70px;
        border-radius: 6px;
        border: 2px solid #000;
        text-align: center;
    }

    button:disabled,
    button[disabled] {
        border-color: #999;
        color: #999;
    }
}

.question-area {
    width: 100%;

    .game-event-message {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        background-color: #fff;
        box-shadow: 10px 10px;

        margin: 10px;
        margin-top: -20px;

        .game-event-header {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .countdown {
                border: 2px solid royalblue;
                background: rgb(33, 231, 155);
                border-radius: 50%;
                padding: 6px;
                text-align: center;
            }
        }

        .game-event-body {
            text-align: left;
            padding: 10px;

            button {
                border: 2px solid #000;
                border-radius: 3px;
                margin-left: 5px;

                background-color: royalblue;
                color: #fff;
                font-size: 1.5rem;
                font-weight: bold;
            }

            button:disabled,
            button[disabled] {
                border-color: #999;
                color: #999;
            }

            input {
                font-size: 1.5rem;
                padding: 10px;
                width: 100%;
                border-radius: 6px;
            }
        }
    }

    .unanswered {
        border: 1px solid #000;
    }

    .pending-answer {
        border: 2px solid #f4d578;
    }

    .incorrect-answer {
        border: 2px solid rgb(252, 95, 95);
    }

    .correct-answer {
        border: 2px solid rgb(35, 185, 103);
    }

    .question {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        line-height: 25px;

        border: 2px solid #000;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 10px 10px;

        height: 200px;
        margin: 10px;
        padding: 30px;
    }

    .header {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }

    .buzzer-area {
        text-align: center;
        margin-top: 20px;

        .buzzer:disabled {
            background: rgb(202, 202, 202);
            border: 2px solid gray;
            color: gray;
        }

        .buzzer {
            color: #fff;
            background: royalblue;
            border: 2px solid #000;
            border-radius: 3px;
            padding: 10px;
            width: 200px;

            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.info-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: #0e0e0ec7;
    overflow-y: scroll;

    .score-board {
        color: #fff;
        table {
            width: 100%;
            border-collapse: collapse;
            tr {
                border-top: 1px solid #ffffff70;
                td {
                    padding: 5px;
                }
            }
        }
    }
}

.player-picture {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;

    img {
        width: auto;
        height: 100%;
    }
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
}

.tabs {
    overflow: hidden;
    display: flex;

    .tablink {
        color: rgb(204, 204, 204);
        flex: 0 100%;
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        text-transform: uppercase;
        font-weight: bold;

        &.active-tab {
            cursor: default;
            color: rgb(0, 0, 0);
        }
    }
}
