<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Trivia", suffix: " · Phoenix Framework" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= if String.match?(@conn.request_path, ~r/trivia/) do %>
      <%= render_existing PartyTimeWeb.TriviaView, "scripts.html", assigns %>
    <% end %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <!-- <%= if @conn.assigns.current_user do %>
        <header>
        <section class="container">
        <nav role="navigation">
        <div>
        <span>
        <%= link "Party Time", to: Routes.page_path(@conn, :index) %>
        </span>
        <%= if String.match?(@conn.request_path, ~r/\/games\//) do %>
          <span>&gt;</span>
          <span>
          <%= String.capitalize(Enum.at(String.split(@conn.request_path, "/"), 2)) %>
          </span>
        <% end %>
        </div>
        <div class="profile-image-container">
        <img referrerpolicy="no-referrer" src="<%= @conn.assigns.current_user.picture %>">
        </div>
        </nav>
        </section>
        </header>
      <% end %>-->
      <%= @inner_content %>
  </body>
</html>
